// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$black-ter: #030303;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-darker: $brown;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Update component variables
$navbar-background-color: rgba($grey-darker, 0.9);
$navbar-item-color: $beige-lighter;
$navbar-item-active-color: lighten($purple, 25%);
$navbar-item-hover-background-color: $grey-darker;
$navbar-item-hover-color: lighten($purple, 15%);

// Custom styling
@import "typography.scss";
